{% extends 'base.html.twig' %}

{% block title %}Blog symfony | Articles!{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">Liste des articles</h1>
    
<div class="row d-flex justify-content-around">

    {% for data in articles %}{#data variable de reception des doonnées des articles #}
 
        <div class="card mb-2" text-center style="width: 18rem;">
                <img src="{{ data.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ data.Title }}</h5>
                    <p class="card-text">{{ data.content|slice(0, 100) |raw }}...</p>
                    {# slice #}
                    <hr>
                    <p>Posté le {{ data.createdAt |date("d/m/Y") }} à {{ data.createdAt |date("H:i:s") }} dans la catégorie <strong>{{ data.category.title }}</strong> </p>
                    <p class="card-text">{{ "now" |date("d/m/Y") }}</p>
                    <a href="{{ path('blog_show' , {'id': data.id} ) }}" class="btn btn-dark">Voir le détail</a>
                    {# {{ interpole #}
                </div>
        </div>

     {% endfor %}
</div>



{% endblock %}
