{% extends "base.html.twig" %}
{# on herite du template 'base.html.twig' #}

{#  on appelle le block body du template 'base.html.twig' #}
{% block body %}

    <h1 class="display-4 text-center my-4">Détails de l'article</h1>

    <div class="col-md-12 card mb-2 text-center p-0" text-center style="width: 50rem;">
        <img src="{{ article.image|replace({"200":"1000/300"}) }}" class="card-img-top" alt="{{ article.title }}">
        <div class="card-body">
            <h5 class="card-title text-center">{{ article.title }}</h5>
            <p class="card-text text-center">{{ article.content|raw }} </p>  
            <hr>
            
            <span class="col-md-2 offset-md-4 font-italic text-right">Posté le {{ article.createdAt |date("d/m/Y") }} à {{ article.createdAt |date("H:i:s") }} </span>
            <span class="col-md-2 offset-md-4 font-italic text-right">dans la catégorie <strong>{{ article.category.title }}</strong></span>
            <hr>
            <span class="col-md-2"><a href="{{ path('blog_edit',{'id': article.id}) }}"  class="text-left btn btn-warning">Modifier</a></span>
        </div>

        <div class="col-md-12">
        <h2 class="text-center mt-5">Derniers avis...</h2>
        {% for comment in article.comments %}
            <div class="row border rounded mb-2 bg-dark text-white">
                <div class="col-md-2">
                    <span>{{ comment.author }}</span>
                    <small class="font-italic"> {{ comment.createdAt|date('d/m/Y à H:i:s') }}</small>
                </div>
                <div class="col-md-10">
                    <p>{{ comment.content|raw }}</p>
                </div>

            </div>
        {% endfor %}
        
    </div>
    
{% endblock %}